.carousel {
  h1 {
    color: #eee;
    font-weight: 700;
  }
}

.carousel_img {
  display: block;
  height: 450px;
  width: 100%;
  object-fit: cover;
  // box-shadow: inset 0px 0px 30px 30px rgba(0, 0, 0, 0.9);
}


