.main {
    margin-top: 32px;
    padding: 16px;
    display: flex;
    align-items: center;
    height: 100%;
}

.Description {
    width: 40%;
    height: 100% !important;
}

.gallery {
    width: 60%;
}

@media (max-width: 767px) {
    .main {
        flex-direction: column;
    }

    .Description, .gallery {
        width: 100%;
    }

    .Description {
        order: 1;
        margin-top: 32px;
    }
  }