.payment_method_container {
  padding: 16px;

  h1 {
    margin-bottom: 32px;
    font-weight: 500;
  }

  .method_box {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;

    img {
        width: 150px;
        transition: .2s;

        &:hover {
            scale: 1.1;
        }
    }
  }
}
