.gallery_container {
    display: flex;
    gap: 16px;

}

.small_images_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    // justify-content: space-between;
    gap: 16px;

    img {
        width: 66px;
        border-radius: 3px;
        cursor: pointer;
    }
}

.small_image {
    
}

.big_image {
    
    img {
        width: 100%;
        border-radius: 9px;
        aspect-ratio: 7 / 5;
    }

}

@media (max-width: 575px) {
    .gallery_container {
        flex-direction: column;
    }

    .small_images_container {
        flex-direction: row;
        gap: 0;
        justify-content: space-between;
    }
  }